<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Japonês</title>
  <link rel="stylesheet" href="/public/stylesheets/login.css">
</head>
<body>
  <div class="login-container">
    <h1>ようこそ</h1>
    <h2>Bem-vindo</h2>
    <form id="login-form">
        <input type="email" id="email" placeholder="Email" required>
        <input type="password" id="password" placeholder="Senha" required>
        <button type="submit">Login</button>
    </form>
    <p>忘れましたか? <a href="#">Recuperar senha</a></p>
  </div>
  <script type="module" src="/public/javascripts/login.js"></script>
</body>
</html>
